{{#partial "content"}}
  <div class ="container">
    <form class="form-group" action="/create/ranger/new" method= post>
        <h3>Create Rangers:</h3>
        <hr>
        <div>
            <div class="form-floating mt-3">
                <input type="text" id="name" name="name" class="form-control" placeholder="Input name (John)" required>
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mt-3">
            <input type="text" id="badge" name="badge" class="form-control" placeholder="input Badge Number909_886" required>
            <label for="floatingInput">Badge Number</label>
            </div>
            <div class="form-floating mt-3">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="input phone number (0797979797)" required>
                <label for="floatingInput">Super Power</label>
            </div>

        <button type="submit" class="btn btn-success btn-lg">Add Ranger</button>
    </form>
    </div>

{{/partial}}

{{> layout.hbs}}
