{{!-- {{#partial "content"}} --}}
{{!-- <div class= "container"id "main"> --}}
{{!--     <div class="jumbotron text-center"> --}}
{{!--         <h1 class="display-1">Wild-life tracker</h1> --}}
{{!--         <p class="lead">The web app that helps rangers track and record sightins of  wild animals near Douglas fir </p> --}}
{{!--         <div class="row row-cols-3"> --}}
{{!--             <p class="col ">Zebra</p> --}}
{{!--             <p class="col ">Cheatah</p> --}}
{{!--             <p class="col ">Lions</p> --}}
{{!--             <p class="col ">Elephants</p> --}}
{{!--             <p class="col ">monkey</p> --}}
{{!--             <p class="col ">Wild dogs</p> --}}
{{!--             <p class="col ">Ostrich</p> --}}
{{!--             <p class="col ">Hyena</p> --}}
{{!--             <p class="col ">Warthog </p> --}}
{{!--             <p class="col ">turtles</p> --}}
{{!--             <p class="col ">Bamboo</p> --}}
{{!--             <p class="col ">snakes </p> --}}
{{!--             <p class="col ">Snails</p> --}}
{{!--             <p class="col ">Birds</p> --}}
{{!--             <p class="col ">zealiots</p> --}}
{{!--         </div> --}}
{{!--         <div class="d-grid gap-2 col-8 mx-auto m-5"> --}}
{{!--           <!--  <a class="btn btn-outline-dark btn-lg" href="/create/ranger">Add  ranger </a>--> --}}
{{!--         </div> --}}
{{!--     </div> --}}
{{!--     </div> --}}
{{!-- {{/partial}} --}}

{{!-- {{> layout.hbs}} --}}
{{#partial "content"}}

    <div class="title">
        <h1 class="text display-4" >Welcome to Wildlife Tracker</h1>
    </div>

{{/partial}}
{{> layout.hbs}}
